@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Panthera';
    src: url(../IllustrationsLogo/profil/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'BEYNO';
    src: url(../IllustrationsLogo/profil/BEYNO/BEYNO.ttf);
}

@font-face {
    font-family:"WakandaForever-Regular";
    src: url(../IllustrationsLogo/profil/WakandaForever-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(80deg, var(--blue-color),var(--black-color));
    padding: 0;
}

:root{
    --white-color:#FFFFFF;
    --black-color:#000000;
    --primary-color:#F2CEF2;
    --text-color:#9E91B7;
    --pink-color:#DF99F2;
    --violet-color:#3D2DA6;
    --blue-color:#0b172e;
    --font-color:#07338C;
}

/*container*/
.container{
    width: 80%;
    margin: 0 auto;
}

section{
    padding: 0 12%;
}

/*header nav and logo*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 3.5px var(--white-color) solid;
    padding: 30px 0;
}
a{
    color: var(--white-color);
    padding: 30px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
ul{
    display: flex;
}
li{
    list-style: none;
}

/*hero-panther*/
.hero-panther{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.hero-text{
    padding-top: 20vh;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 700;
    color: var(--text-color);
}
.hero-text h2{
    font-size: 20px;
    color: var(--text-color);
    line-height: 1;
    margin: 0 0 30px;
}
.hero-text p{
    font-size: 13px;
    color: var(--white-color);
    line-height: 1.5;
    margin-bottom: 10px;
}
.hero-text a{
    color: var(--white-color);
}
.hero-panther-image img{
     width: 150vh;
    height: auto;
}
/*reseaux sociaux icons*/
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 100px;
    color: var(--text-color);   
}
.scroll .social{
    margin-top: 15px;
    transition: all .50s ease;
}
.scroll .social:hover{
    color: var(--white-color);
    transform: translateY(-5px);
}

/*section multimedia killmonger and okoye */
.container-multimedia{
    display: flex;
    width: 60%;
    margin: 40px;
    justify-content: space-between; 
}
.slider-content{
    padding: 5px;
    background: linear-gradient(80deg,var(--font-color),var(--blue-color)) ;
    display: flex;
    align-items: center;
    height: 400px;
}  
.slider-image img{
    width: 500%;
    height: 300%;
} 
.slider-text {
    margin-left: 100px;
    text-align: justify;
}
  
.slider-text h2 {
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--white-color);  
}
.slider-text p{
    font-size: 12px;
    color: var(--white-color);
    justify-content: baseline;
}
.slider-text span a {
    font-size: 13px;
    color: var(--white-color); 
    text-decoration: none; 
} 
.slider-text span a:hover {
    text-decoration: underline;
}

/*contact*/
#contact {
    background-image: url(../IllustrationsLogo/Accueil/Pantherhome7.png);
    background-size: cover;
    padding: 30vh;
}
#contact .container{
    border: none;
    border-radius: 20vh;
    padding: 50px;
    background: linear-gradient(to bottom,rgba(255, 255, 255) ,rgba(255, 255, 255, 0));
    margin: 0 auto; 
    text-align: center; 
}
#contact .container h1{
    font-size: 5vh;
    font-weight: 700;
    color: var(--violet-color);
}
#contact .container h2{
    font-size: 2vh;
    font-weight: 700;
    color: var(--violet-color);
}
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    border: 1px solid var(--violet-color);
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: transparent;
    width: 70%;
}
#contact input{
    border-radius: 20vh;
    padding: 10px;
    width: 30%;
    border: none;
    color: var(--violet-color);
}

/*NAISSAN00CE*/
h1, h2, h3 {
    text-align: center;
}
p {      
     margin-bottom: 20px;
}/* Section Naissance */
#naissance {
    display: flex;
}
.naissance-item {
    text-align: center;
}
/* Section Hero Vengeur */
#hero-vengeur {
    padding: 50px 0;
}
.hero-item {
    text-align: center;
}
/* Section Hero Protecteur */
#hero-protecteur {
   display: flex;
}

.protecteur {
    text-align: center;
}

/* Article T'Challa */
#formulaire-challa {
        padding: 40px;
        display: flex;
        background-color: var(--white-color);
        border: 1px solid var(--white-color);
        border-radius: 30px;
        width: 30%;
    }

    .image-challa {
        position: static;
        margin-top: -90px;
    }

    .image-challa img {
        max-width: 100%;
    }

    .header-challa {
        text-align: justify;
        margin-top: 20px;
    }

    .header-challa h2 {
        font-size: 20px;
        text-align: justify;
        margin-bottom: 10px;
    }

    .header-challa label {
        display: contents;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .header-challa span {
        display: inline-block;
        margin-left: 10px;
    }

    /*footer*/ 
#footer {
    background-image: url(../IllustrationsLogo/Allpages/back_footer.png);
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon-footer{
    background-image: url('../IllustrationsLogo/Allpages/footer1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.name-footer h2 {
    font-size: 15px;
    color: var(--white-color);
}

.name-footer a {
    display: block;
    color: var(--white-color);
    text-decoration: none;
}
.title h2 {
    font-size: 18px;
    color: var(--white-color);
}
.social-footer img {
    height: 30px;
    margin-right: 10px;
}
.pieds {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
} 
.pieds p {
    font-size: 12px;
    color: var(--white-color);
} 
.pieds ul {
    padding: 0;
    margin: 10px 0;
} 
.pieds li {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: var(--white-color);
}






   