@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Panthera';
    src: url(../IllustrationsLogo/profil/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'BEYNO';
    src: url(../IllustrationsLogo/profil/BEYNO/BEYNO.ttf);
}

@font-face {
    font-family:"WakandaForever-Regular";
    src: url(../IllustrationsLogo/profil/WakandaForever-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(100deg, var(--blue-color),var(--black-color));
    padding: 0;
    font-family: system-ui, sans-serif;
    font-size: 81.25%;
}

:root{
    --white-color:#FFFFFF;
    --black-color:#000000;
    --primary-color:#F2CEF2;
    --text-color:#9E91B7;
    --pink-color:#DF99F2;
    --violet-color:#3D2DA6;
    --blue-color:#0b172e;
    --font-color:#07338C;
}

/*container*/
.container{
    width: 80%;
    margin: 0 auto;
}

/*header nav and logo*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
a{
    color: var(--white-color);
    padding: 30px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    font-family: 'BEYNO';
}
ul{
    display: flex;
}
li{
    list-style: none;
}

/*releve le defi*/
#releve{
    background-image: url('../IllustrationsLogo/Enigme/Pantherenigme1.png');
    background-repeat: no-repeat;
}
#releve-header img{
    width: 50%;
    height: 50%;
}
#releve .releve-header h1{
    color: var(--pink-color);
    margin-left: 60%;
    font-size: 40px;
    text-align: justify;
    font-family: 'BEYNO';
}
#releve .releve-header p{
    color: var(--white-color);
    margin-left: 60%;
    font-size: 10px;
    margin-top: 25px;

}
#citation .citation-engime p{
    margin-top: 20px;
    font-family:"WakandaForever-Regular";
    color: var(--pink-color);
    font-size: 17px;
    margin-bottom: 20px;
    display: flex;
}
#citation .citation-engime h3{
    font-size: 10px;
    font-family: sans-serif;
    color: var(--white-color);
    margin-left: 60%;
    margin-top: 25px;
    text-align: center;
}
#citation .citation-engime .savoir{
    background-image: url(../IllustrationsLogo/Enigme/Pantherenigme2.png);
    font-size: 10px;
    font-family: sans-serif;
    color: var(--white-color);
    margin-left: 60%;
    margin-top: 25px;
    
}
#alphabet{
    display: flex;
} 
#alphabet .header{
    color: var(--white-color);
    font-size: 10px;
}
#alphabet .alphabet-list{
    color: var(--white-color);
    list-style-type: none;
    
}
#alphabet .alphabet-list li{
    display: flex;
    color: var(--write-color);
    flex-direction: row;
    font-family:"WakandaForever-Regular";
}



/*contact*/
#contact {
    margin-top: 20px;
}
#contact .reponse h2{
    font-size: 10px;
    color: var(--white-color); 
}
#contact .reponse input{
    border: 1px solid var(--violet-color);
    border-radius: 20px;
    padding: 15px;
    background-color: transparent;
    width: 35%;
}
#contact input{
    border-radius: 20vh;
    width: 20%;
    border: none;
    font-size: 10px;
    color: var(--violet-color);
}
#contact .reponse button{
    border-radius: 40px;
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    background-color: var(--white-color);
    color: var(--violet-color);
    padding: 13px;
    width: 12%;
}


/*footer*/ 
#footer {
    background-image: url(../IllustrationsLogo/Allpages/back_footer.png);
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon-footer{
    background-image: url('../IllustrationsLogo/Allpages/footer1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.name-footer h2 {
    font-size: 15px;
    color: var(--white-color);
}

.name-footer a {
    display: block;
    color: var(--white-color);
    text-decoration: none;
}
.title h2 {
    font-size: 18px;
    color: var(--white-color);
}
.social-footer img {
    height: 30px;
    margin-right: 10px;
}
.pieds {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
} 
.pieds p {
    font-size: 12px;
    color: var(--white-color);
} 
.pieds ul {
    padding: 0;
    margin: 10px 0;
} 
.pieds li {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: var(--white-color);
}
