@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Panthera';
    src: url(../Police/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'BEYNO';
    src: url(../Police/BEYNO/BEYNO.ttf);
}

 :root {
    --write-color: #FFFFFF;
    --write-light: #F2CEF2;
    --gradient-write: #EDDEBF;
    --gradient-purple: #3D2DA6;
    --gray-color: #9E91B7;
    --blue-color: #07338C;
    --gradient-blue: #021740;
    --color-black: #000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Illustrations_+_Logo/arrière_plan.png);
    background-color: var(--gradient-blue);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
}

p {
    font-size: 14px;
    font-family: 'Cantarell', sans-serif;
    color: var(--write-light);
}

h2 {
    font-size: 32px;
    font-family: 'BEYNO', sans-serif;
    color: var(--gray-color);
}
/*Design de la navigation */

.icon-home {
    text-align: left;
    margin-left: 11%;
}

.titre-home {
    display: flex;
    justify-content: center;
    font-family: 'BEYNO', sans-serif;
    color: var(--write-light);
}

nav,
a {
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    margin-bottom: 10px;
}
/* Design de la section hero */

.fond {
    margin-left: 42%;
}

.titre-pather {
    width: 28%;
    text-align: left;
    margin-left: 99px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.titre-pather>h1 {
    font-size: 68px;
    font-family: 'Panthera', sans-serif;
    color: var(--gray-color);
}

.titre-pather>h2 {
    font-family: 'Beyno', sans-serif;
    font-size: 43px;
    margin-bottom: 35px;
}

.titre-pather>p {
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
}
/* section scroll */

.icon_scroll {
    margin-top: 0%;
    padding: 0%;
    position: fixed;
    display: flex;
    margin-left: 4.5vw;
}

.icon_scroll div {
    margin-right: px;
}

.scroll-border_2>ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 10px;
}

.scroll-2 {
    border-left: 3px solid var(--gradient-write);
    height: 58vh;
    padding-top: 0;
}

.scroll-border {
    border-left: 3px solid var(--gradient-write);
    height: 40vh;
    margin: 29px;
    margin-top: 0;
}

.scroll {
    position: fixed;
    align-content: center;
    margin-top: 0;
}
/* .icon_scroll {
position: fixed;
top: 30;
transform: translate(-50, -50%);
width: 15%;
}

.scroll {
display: flex;
align-items: center;
flex-direction: column;
} */
/* Design de la section  acteur */

.sld_2 {
    position: relative;
    background-color: var(--gradient-blue);
    /* ajustez la couleur du fond */
    width: 80%;
}

.sld_2 img {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    object-fit: cover;
}

.slide_1 {
    background-color: var(--gradient-blue);
    position: relative;
    width: 80%;
}

.slide_1 img {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    object-fit: cover;
}

.slider {
    display: flex;
    width: 100%;
}

.slider P {
    width: 50%;
}

.slider h2,
.slider p {
    margin: 0;
    padding: 15px;
}

.slider a {
    margin-top: 10px;
    color: var(--write-color);
    text-decoration: none;
}

.sect-acteur {
    margin-left: 13%;
}
/* Design de l'article et apropos de l'auteur */

.article {
    margin-left: 10%;
    margin-top: 80px;
    width: 35%;
    text-align: justify;
}

.article h2 {
    margin-top: 45px;
    margin-bottom: 30px;
}
/* Desing de la section apropos de hero */

.corps {
    display: flex;
    align-items: center;
}

.apropos {
    margin-left: 130px;
    margin-top: 25%;
}

.descriptions {
    background-color: var(--write-color);
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    width: 20vw;
    text-align: left;
    padding-top: 20vw;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--gradient-blue);
}

.des-text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
}

.descriptions h2 {
    text-align: center;
    font-family: 'Contarell', sans-serif;
    color: var(--color-black);
}

.btn-apropos p {
    background-color: var(--blue-color);
    margin-right: 15px;
    padding: 10px 5px;
    border-radius: 3px;
}

.btn-apropos {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.btn-apropos p a {
    color: var(--write-light);
    font-family: 'Contarell', sans-serif;
    font-size: 10px;
    align-items: center;
}

.des-text p span {
    font-weight: bold;
}

.des-text p {
    font-size: 12px;
    color: var(--gradient-blue);
}

.des-text span {
    font-size: 18px;
}

.image {
    color: var(--gradient-purple);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-bottom: -38vh;
}
/*
.image_2 {
margin-top: 250px;
} */
/* Design de la formulaire */

.foot {
    background-image: url(/IllustrationsLogo/Accueil/Pantherhome7.png);
    padding-bottom: 250px;
    background-repeat: no-repeat;
}

form {
    background: linear-gradient(to bottom, rgba(250));
    border-radius: 5px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20vh;
    padding-bottom: 150px;
}
/* Design de la partie footer */

footer {
    margin-left: 50px;
    margin-right: 50px;
    padding: 20vh;
    display: flex;
    margin-top: 0;
}

.nav-footer {
    display: flex;
    align-items: center;
}

.icon-footer {
    display: flex;
    position: absolute;
}

.icon-footer img {
    width: 20%;
}

.icon-foot {
    margin-left: 25%;
}

.icon-foot h3 {
    margin-bottom: 12px;
    font-family: 'Cantarell', sans-serif;
    font-size: 28px;
    color: var(--write-color);
}

.icon-foot a {
    margin-right: 9px;
}

.icon-foot img {
    width: 10%;
    padding: 15px;
}

.pied {
    display: flex;
}
/* design de la video */

.player {
    position: absolute;
    height: auto;
    width: 80px;
    cursor: pointer;
    padding-left: 270px;
    padding-top: 135px;
}
/* Design de la partie wakanda */

@font-face {
    font-family: 'Wakanda forever';
    src: url(../Police/WakandaForever-Regular.ttf);
}

.sect-wakanda {
    display: flex;
    margin-top: 50%;
}

.nav-wakanda h1 {
    font-family: 'BEYNO', sans-serif;
    font-size: 62px;
    color: var(--write-light);
}

.nav-wakanda p {
    text-align: justify;
    width: 25%;
}

.nav-wakanda h2 {
    font-family: 'Wakanda forever', sans-serif;
    font-size: 43px;
}

.nav-wakanda {
    margin-left: 375px;
    padding-top: 500px;
    margin-bottom: 100px;
}
/*entete - header*/ 
.entete {
    background-image: url(/IllustrationsLogo/Wakanda/Pantherwakanda1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 0 auto;
}

.BODY {
    background-image: url(/IllustrationsLogo/Wakanda/Pantherwakanda2.png);
    background-repeat: no-repeat;
    background-position: top;
}
/* Design de la partie enigme */

.img-enigme {
    width: 50%;
}

.body-enigme {
    display: flex;
}

.body-enigme p {
    text-align: justify;
    width: 450px;
    position: absolute;
    top: 99%;
    margin-left: 450px;
}

.petit-text {
    margin-left: -220px;
}

.petit-text .icon-2 {
    position: absolute;
    top: 80%;
    margin-left: 315px;
}

.petit-text .icon-3 {
    position: absolute;
    top: 130%;
    margin-left: 260px;
}

.petit-text h1 {
    font-family: 'BEYNO', sans-serif;
    color: var(--gray-color);
    position: absolute;
    top: 69%;
    margin-left: 400px;
    font-size: 65px;
    align-items: center;
}

.citation-enigme p {
    font-family: 'Wakanda forever', sans-serif;
    font-size: 48px;
    margin-left: 320px;
    display: flex;
    width: 60%;
    padding: 15px;
}

.alphabet {
    display: flex;
    margin: 320px;
}

.liste li {
    display: flex;
    color: var(--write-color);
    flex-direction: row;
}

.liste ul {
    list-style-type: none;
}

.liste span {
    font-family: 'Wakanda forever', sans-serif;
}