@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Panthera';
    src: url(../IllustrationsLogo/profil/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'BEYNO';
    src: url(../IllustrationsLogo/profil/BEYNO/BEYNO.ttf);
}

@font-face {
    font-family:"WakandaForever-Regular";
    src: url(../IllustrationsLogo/profil/WakandaForever-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(70deg, var(--blue-color),var(--black-color));
    padding: 0;
}

:root{
    --white-color:#FFFFFF;
    --black-color:#000000;
    --primary-color:#F2CEF2;
    --text-color:#9E91B7;
    --pink-color:#DF99F2;
    --violet-color:#3D2DA6;
    --blue-color:#0b172e;
    --font-color:#07338C;
}

/*container*/
.container{
    width: 80%;
    margin: 0 auto;
}

/*header nav and logo*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
a{
    color: var(--white-color);
    padding: 30px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
/*NAVBAR WAKANDA*/
.navbar .navbar-wakanda h2{
    font-family:"WakandaForever-Regular";
}




/*footer*/

#footer {
    background-image: url(../IllustrationsLogo/Allpages/back_footer.png);
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon-footer img {
    height: 30px;
    margin-right: 10px;
}

.name-footer h2 {
    font-size: 18px;
}

.name-footer a {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
}

.title h2 {
    font-size: 18px;
}

.social-footer img {
    height: 30px;
    margin-right: 10px;
}

.pieds-page {
    margin-top: 100px;
    justify-content: center;
}
